<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" />
    <script type="text/javascript" src="/javascripts/js/bootstrap.min.js"></script>
  </head>

  <body>
	<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="/" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="/crear" role="tab" aria-controls="nav-profile" aria-selected="false">Crear</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="/eliminar" role="tab" aria-controls="nav-profile" aria-selected="false">Eliminar</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="/editar" role="tab" aria-controls="nav-contact" aria-selected="false">Editar</a>
  </div>
</nav>
<div class="content">
	<table class="table bg-color-dark">
	    <thead>
	      <tr>
	        <th>Juego</th>
	        <th>Edad</th>
	        <th>Tipo</th>
	      </tr>
	    </thead>
	<tbody>
      
      	<% for(var i=0; i<juegos.length; i++) {%>
      <tr>
		 
        <td><%= juegos[i].nombre %></td>
        <td><%= juegos[i].edad %></td>
        <td><%= juegos[i].tipo %></td>
      </tr>
       <% } %>
     
    </tbody>
  </table>
</div>
   
  </body>
</html>
